.main-page{
    display:flex;
    justify-content: center;
    margin-top: 250px;
}
.form{
   background-color: var(--main-text-color);
   height: 350px;
   width: 40%;
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding-top: 5em;
}
.form p{
    text-align: center;
}
.form input{
    width: 25%;
    align-self: center;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
}
