.modal{
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: 10;
    margin: 100px auto;
}
.modal-form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.modal-form input{
    margin: 1em;
    width: 50%;
    padding: 1em;
    align-self: center;
}
.modal-group-name{
    margin: 0 auto;
}
.group-members{
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-members p{
    padding-right: 0.5em;
}
.modal-buttons{
    display: flex;
    justify-content: center;
    gap: 1em;
}